@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

/*
- FONT SIZES (px) -
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px) -
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158 36% 37%);
  --cream: hsl(30 38% 92%);
  --dark-blue: hsl(212 21% 14%);
  --grayish-blue: hsl(228 12% 48%);
  --white: hsl(0 0% 100%);
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  font-weight: var(--font-weight-medium);
  line-height: 1;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
}

.card {
  max-width: 43.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 11px;
  background-color: var(--white);
}

.img-desktop,
.img-mobile {
  width: 100%;
  height: 100%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.img-mobile {
  display: none;
}

.text-box {
  padding: 2.5rem 2rem;
}

.subheading,
.perfume-description,
.old-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--grayish-blue);
}

.subheading {
  margin-bottom: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.perfume-name,
.new-price {
  font-family: 'Fraunces', serif;
}

.perfume-name {
  font-size: 2.75rem;
  margin-bottom: 1.5rem;
  color: var(--dark-blue);
}

.perfume-description {
  margin-bottom: 2rem;
  line-height: 1.8;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.new-price {
  font-size: 2.75rem;
  font-weight: var(--font-weight-bold);
  color: var(--dark-cyan);
}

.old-price {
  text-decoration: line-through;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 1.125rem 4rem;
  border: none;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  color: var(--white);
  background-color: var(--dark-cyan);
}

.btn:active {
  background-color: hsl(158 50% 21%);
}
